<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.originit.async.deal.mapper.SchedulePosMapper">


    <select id="selectBeginTableByType" resultType="int">
        SELECT schedule_begin_pos from t_schedule_pos where task_type=#{taskType}
    </select>

</mapper>
